html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	background-color: #FFF;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

button {
	background-color: lighten($blue,15%);
	outline: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #FFF;
}

@mixin btn($type: normal) {
	cursor: pointer;
	float: left;
	padding: 5px 15px;
	width: auto;
	position: relative;
	margin: 5px 0 0 5px;
	border-radius: 4px;
	transition: all 0.2s;

	&.selected,
	&:hover {
	}

	@if $type == clear {
		color: #7f7f7f;
		background: transparent;
		border: 2px solid #7f7f7f;
		background-color: rgba(0,0,0,0);

		&.selected,
		&:hover {
			color: $blue;
			border: 2px solid $blue;
			background-color: lighten($blue, 52%);
		}

	} @else {
		background: $blue;
		color: #FFF;
	}
}