@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

$blue: #2054b3;
$red: #ff2439;
$p: 20px;

@import 'mixins';
@import 'reset';
@import 'global';
@import 'video';
@import 'textbox';