.video-panel {
	//background-color: #EEE;
	width: 100%;
	padding: $p 0 $p*4;
	//border-bottom: 2px solid #b7b7b7;

	.actions {
		float: right;
		width: 300px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		button {
			padding: 20px 30px;
			width: 100%;
			margin-bottom: 2px;
			border-radius: 3px;
			cursor: pointer;
			transition: all 0.2s;
			&:hover {
				background-color: lighten($blue,30%);
			}
		}
	}
}

#videoContainer {
	float: left;
	width: 540px;
	background-color: red;

	video {
		background-color: red;
		float: left;
		width: 100% !important;
		height: 300px !important;
	}
}